@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: 'Lato', sans-serif !important;
}

p{
  font-weight: 400;
}

a{
  cursor: pointer;
}

.btn{
  margin: 0 0.1rem;
  svg{
    width: 70%;
  }
}

#root{
  min-height: 100vh;
}

body,html{
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.navbar{
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #000000d0;
  backdrop-filter: blur(20px);
  .navbar-brand{
    padding: 0 2rem;
  }
}

.container{
  padding: 10vh 0;
}

.btn-dark{
  border: #000000;
  background-color: #000000;
  color: #ffffff;
}

.btn{
  border-radius: 20px !important;
  padding: 0.5rem 1rem !important;
}

label{
  font-weight: 600;
}

input, textarea, select{
  border-radius: 20px !important;
}

.login{
  background-color: '#232227'; 
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1638184984605-af1f05249a56?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;

  #login-form{
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}