@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: 'Lato', sans-serif !important;
}

body,html{
  overflow: hidden;
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.offcanvas-header{
  .btn-close{
    color: white !important;
    opacity: 1;
    filter: contrast(0) brightness(1) opacity(1);
  }
}

#main{
  height: 100vh;
}

#content-view{
  padding: 2vh 2vw;
  scroll-behavior: auto;
  background-color: #e5e5e5;
  position: relative;
  z-index: 1;
}

.container{
  padding-left: 0 !important;
}

#sidebar{
  width: 17vw;
  position: relative;
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f7f7f7;
  backdrop-filter: blur(20px);
  background-color: #000000af;
  padding: 4vh 1vw;
  
  #logo{
    p{
      text-align: left;
      margin: 0;
    }
    span{
      font-weight: 300;
    }
  }
  nav{
    padding: auto;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin: 3vh 2vw;
        cursor: pointer;
      }
    }
  }

  #logout{
    width: 100%;
    margin: 3vh 2vw;
    text-align: left;
  }
}

.section{
  background: #f7f7f7;
  padding: 3vh 3vh;
  border-radius: 10px;
  box-shadow: #00000012 0px 14px 20px 0px;
}

#actions{
  text-align: right;
}

.list-item{
  margin: 2vh 1vw;
}